BasicSR/
classification/datasets/data/
classification/classifiers/experiments/
classification/classifiers/saved_noise_residuals/
__pycache__/
*.pyc
*.pt
*.sqlite3
*.npy
experiments/
scratchwork/
scratchwork.ipynb
.ipynb_checkpoints/
redo_analysis.py
batch_crop_images.py
*.sqlite3-journal
wandb/*
paper/