
*.npy
*.pt
*.pyc
*.sqlite3
*.sqlite3-journal
.ipynb_checkpoints/
__pycache__/
analysis/figures/pretrained_model_parsing_table_data.json
analysis/values/computed_values.yaml
BasicSR/
batch_crop_images.py
classification/classifiers/experiments/
classification/classifiers/saved_noise_residuals/
classification/datasets/data/*
experiments/
paper/
README.html
redo_analysis.py
scratchwork.ipynb
scratchwork/
sweep/*
wandb/*
scripts/*